[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/pbsurf/SDL.git
[submodule "nanovgXC"]
	path = nanovgXC
	url = https://github.com/styluslabs/nanovgXC.git
[submodule "ulib"]
	path = ulib
	url = https://github.com/styluslabs/ulib.git
[submodule "usvg"]
	path = usvg
	url = https://github.com/styluslabs/usvg.git
[submodule "ugui"]
	path = ugui
	url = https://github.com/styluslabs/ugui.git
